<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SceneKit Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>855B7DCC1C8D969800863CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>855B7DE01C8D969800863CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>855B7DEB1C8D969800863CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
